.fondo {
    background-color: #28A745;
}

.logo {
    width: 86px;
    height:25px;
}

#menu{
    /*Fondo verde*/
    background-color: #28A745;
    width: 100%;
    height: 100px;
}

/*Roboto Light 300*/
.item_texto_superior {
   
    font-family: 'Roboto', sans-serif;
    font-size: 20pt;
    font-weight: 300;
    color: #212529;
    /*font-weight: lighter;*/
}

.item_texto_inferior {
   
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    font-weight: 300;
    color:#707070;
}

.item_texto_ubicacion {
 
    font-family: 'Roboto', sans-serif;
    font-size: 13pt;
    font-weight: 300;
    color:#707070;
}