body{
    font-family: 'Roboto', sans-serif;
}
.navbar {
    height: 62px;
}

.logo {
    width: 86px;
    height:25px;
    margin-left: 20px;
    margin-top: 19px;
    margin-bottom: 18px;
}

.tarjeta {
    margin:auto;
    width: 278px; 
    height: 379px;
    margin-top: 18px;
    margin-bottom: 12px;
}

.tarjeta img {
    width:278px;
    height:180px;
}

.card-title{
    font-size: 20px;
    font-weight: 300;
}

.superior {
    font-size: 16px;
    font-weight: 300;
    margin-top: 11px;
    margin-bottom: 2px;
}
small {
    font-size: 100%;
}

.text-muted {
    font-size: 13px;
    font-weight: 300;
}

.precio_oferta{
    font-size: 20px;
    font-weight: bold;
}

.precio_normal{
    font-size: 16px;
    font-weight: 300;
    font-weight: bold;
}

.formulario{
    margin-top: 47px;
}

.formulario__titulo {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}

#btnEnviar{
    width: 112.71px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 29px;
}

.footer__texto{
    font-size: 16px;
    font-weight: 300;
}