body {
    margin: 0;
    width: 100%;
    padding: 0;
}

header{
    /* Layout Properties */
    top: 0px;
    left: 0px;
    /* UI Properties */
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
}
h1 {
    background-color: black;
    font: normal normal medium 50px/59px Raleway;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.boxes {
    display: flex;
    /*justify-content: flex-start;*/
    /*
    justify-content: flex-end;
    justify-content: space-around;
    */
    /*Elementos en una unica linea*/
    /*flex-wrap: nowrap; */

    /*Para galeria*/
    flex-wrap: wrap;
}

/*
.box {
    width: 25%;
}
*/

.box img {
    max-width: 25%;
}