body {
    margin: 0;
    width: 100%;
    padding: 0;
}

header{
    /*width: 1280px;*/
    height: 73px;
    padding: 0;
    margin: 0;
    background-color: black;
    
}
h1 {
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 0 ;
    font-family: 'Raleway', sans-serif;
    color:white;
    text-align: center;
    font-size: 50px;
}
main {
    background-color: black;
    margin: 0;
    padding: 0;
}

#img_principal {
    background-image: url("../img/bg-header.jpg");
    background-repeat: no-repeat;
    background-size: 100%;   
    margin: 0;
    height: 727px;
}
#dvDescripcion {
    height: 348px;
    display: flex;
    justify-content: space-around;
    padding-top: 45px;
    padding-bottom: 45px;
}
.text_dos{
    color: white;
    padding-left: 150px ;
    padding-right: 150px ;
    font-family: 'Raleway', sans-serif;
}
#img_dos{
    height: 237px;
    width:399px ;
    padding-right: 150px ;
}

#dvCaracteristicas {
    background-color: #1E1A13;
    height: 348px;
}

#text_tres{
    color: white;
    padding-top: 75px;
    font-size: 40px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

nav {
    color: white;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

li {
    display: inline-block;
    
}
.icono{
    width: 57px;
}

#dvGaleria {
    background-color:black;
    height: 348px;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

#dvGaleria img {
    width: 316px;
    height: 202px;
    padding-top: 73px;
    padding-bottom: 73px;
    margin: 0;
    
}
footer
{    /*width: 1280px;*/
    margin: 0;
    padding: 0;
    background-color: #1E1A13;
    color: white ;
    vertical-align: middle;
    height: 102px;
}
footer p {
    margin: 0;
    padding-top: 39px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}